<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    
</head>
<body>
    <header>
        <h1>Productos de la tienda</h1>
    </header>
    <div class="container-items">
        <div class="item-products">

        </div>
    </div>
   
    <ul style="list-style-type: none; ">
        {% for producto in productos %}
        <li style="margin: 50px; display: inline-block;">
            <strong>{{ producto.nombre }}</strong>
            <br>
            <span>Precio: {{producto.precio}}</span>
            <br>
            {% if producto.en_oferta %}
                <span style="color:blueviolet">¡En oferta!</span>
                <br>
            {% else %}
                <span>¡No esta en oferta!</span>
                <br>
            {% endif %}
            <button>Comprar</button>
            
        </li>
        {% endfor %}
    </ul>
</body>
</html>
